* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;    
}

body {
  background: linear-gradient(black, red, black);
}

.logo {
  background:linear-gradient(black);
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-top: -125px;
  border: 2px solid red;
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.card {
    width: 15%;
    border-radius: 5px;
    padding: 2%;
    margin-left: 11%;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
    text-align: center;
  }

  .alignement {
    display: flex;
    padding-top: 1%;
  }

  footer {
    text-align: center;
    border: 3px solid white;
    margin-top: 3%;
    background:linear-gradient(black);
    border-radius: 10px;
    margin: 1%;
    }